<?xml version="1.0" encoding="UTF-8"?>

<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Singleton Scope -->
	<bean 
		id="singletonScope" 
		class="com.tutorialspoint.SingletonScope" 
		scope="singleton">
		<property 
			name="message" 
			value="Hello Singleton!"></property>
	</bean>
	
	<!-- Prototype Scope -->
	<bean 
		id="prototypeScope" 
		class="com.tutorialspoint.PrototypeScope" 
		scope = "prototype">
		<property 
			name="message" 
			value="Hello Prototype!"></property>
	</bean>

</beans>